
<div class="container" data-controller = "budget-update enable-button search disable-add">
  <h1>Starting a new round of bids!</h1>


<% unless @my_secured_selections.empty? %>
  <div class="d-flex">
  <h2>your team: you have secured </h2>  <h2 data-enable-button-target = "secured"> <%= @my_secured_selections.count %> </h2> <h2> players so far</h2>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Your winning bid</th>
        </tr>
      </thead>
      <tbody>
      <% @my_secured_selections.each do |selection| %></ul>
        <tr>
          <td><%=Player.find(selection[:player_id]).first_name%> <%=Player.find(selection[:player_id]).last_name%></td>
          <td><%=selection.price%> m€ </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <h2 class ="d-none" data-enable-button-target = "secured"> <%= @my_secured_selections.count %> </h2>
  <% end %>

  <div class="d-flex justify-content-center" data-budget-update-target= "recap">
      <h4>Remaining budget: </h4> <h4 data-budget-update-target = "budget" data-enable-button-target = "budget"> <%= @team.budget %> </h4>  <h4>m€ </h4>
  </div>
  <h3 class = "text-center">Place your bids on 8 players!</h3>


<%= link_to "SUBMIT YOUR BIDS", submitted_path(@league, @team), class:"btn btn-dark disabled", data: {enable_button_target: "button" } %>

  <%= form_with url: starting_path(@league,@team), method: :get, html: { class:
    'mb-4', data: { search_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Search players',
                     value: params[:query],
                     data: { search_target: 'input', action: 'keyup->search#update' } %>
                     <% end %>

<div class="container d-flex" data-controller="players-selection counter">

  <%= render 'list', players: @remaining_players %>


  <div class="my_team m-5 w-75" data-controller = "create-selection display-warning">
    <ul class="list-group" id="team" data-players-selection-target="team">
      <li class="list-group-item"> <strong>MY TEAM: </strong> </li>
      <li class="list-group-item"> # of players: <div data-counter-target = "counter" data-disable-add-target = "counter">0</div>  </li>
    </ul>
  </div>
</div>

</div>
