
<div class="container text-center">
  <br>
  <h1>League: <%= @team.league.name %></h1>
  <h2>Thanks for submitting your bids!</h2>
  <br>
  <h3>The bids you have placed</h3>
    <ul><% @team.selections.each do |selection| %></ul>

      <li><%= "#{selection.player.first_name}" %> || Your bid: <%= selection.price %> € </li>
    <% end %>

  <br>

    <h3>Teams that have placed their bids</h3>
    <ul><% @teams_submitted.each do |team| %></ul>
      <li><%= team.name %> || Player: <%= team.user.nickname %> </li>
    <% end %>

    <h3>Waiting for the other players...</h3>




    <%= link_to "Your league", league_path(params[:league_id]) %>
    <%= link_to "homepage", user_path(current_user) %>

</div>
