<% selections.each do |selection| %>
  <% if selection.position == 7 || selection.position == 8 %>
    <div class="col-6">
      <div class="card-product">
        <div class="card-product-infos">
          <%= image_tag 'tennis-ball-green.png'%>
          <div><%= selection.position %></div>
          <div><%= selection.player.last_name %></div>
        </div>
        <i class="fa-solid fa-grip"></i>
      </div>
    </div>
  <% else %>
    <div class="col-12">
      <div class="card-product" data-sortable-update-url="<%= selection_path(selection) %>">
        <div class="card-product-infos-important">
          <%= image_tag 'tennis-ball-green.png'%>
          <div class="card-product-position"><%= selection.position %></div>
          <div><%= selection.player.last_name %></div>
        </div>
        <i class="fa-solid fa-grip"></i>
      </div>
    </div>
  <% end %>
<% end %>
