
<div class="container text-center w-75">
  <br>
  <h1>League: <%= @team.league.name %></h1>
  <h2>Thanks for submitting your bids!</h2>
  <h2>Your team: <%= @team.name %></h2>
  <br>
  <h3>Here is a recap of your bids</h3>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Your bid</th>
      </tr>
    </thead>
    <tbody>
    <% @team.selections.each do |selection| %></ul>
      <tr>
        <td><%=selection.player.first_name%> <%=selection.player.last_name%></td>
        <td><%=selection.price%> m€ </td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <br>

    <h3>Teams that have placed their bids</h3>
    <ul class="list-group"><% @teams_submitted.each do |team| %></ul>
      <li class="list-group-item"><%= team.name %> || Player: <%= team.user.nickname %> </li>
    <% end %>

    <h3>Waiting for the other players to bid...</h3>
    <ul class="list-group"><% @teams_non_submitted.each do |team| %></ul>
      <li class="list-group-item"><%= team.name %> || Player: <%= team.user.nickname %> </li>
    <% end %>

    <a class="btn btn-success" href=".">Refresh</a>
    <%= link_to "homepage", user_path(current_user) %>

</div>
