<div class="container text-center w-75">
  <div class="chatroom-title">
    <h3>The bidding round is now over!</h3>
    <h1>Congrats, your team has its 8 champions!</h1>
  </div>
  <div class="back-shadow">
    <table class="table">
      <h2><%= @team.name %></h2>
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Your winning bid</th>
        </tr>
      </thead>
      <tbody>
      <% @current_user_secured_selections.each do |selection| %></ul>
        <tr>
          <td><%=Player.find(selection[:player_id]).first_name%> <%=Player.find(selection[:player_id]).last_name%></td>
          <td><%=selection.price%> m€ </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <!-- <h3>Here is a recap of the bids by your opponents won during the auction rounds!</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Winning bid</th>
        <th scope="col">Winning team</th>
      </tr>
    </thead>
    <tbody>
    <% @opponents_secured_selections.each do |selection| %></ul>
      <tr>
        <td><%=Player.find(selection[:player_id]).first_name%> <%=Player.find(selection[:player_id]).last_name%></td>
        <td><%=selection.price%> m€ </td>
        <td><%=Team.find(selection[:team_id]).name%> </td>
      </tr>
    <% end %>
    </tbody>
  </table> -->

  <div class="back-shadow mt-4">
    <% if @teams_non_finalized.empty? %>
      <h2>All teams of the leagues are now finalized!</h2>
      <h2>Let's get ready to ruuuuuuuuuumble</h2>
      <a href="#" class = "btn btn-success">GO MANAGE YOUR TEAM</a>
    <% else %>
      <h3>We're still waiting for your fellow opponents to finalize their teams...</h2>
      <div class="mb-3"><% @teams_non_finalized.each do |team| %>
        <div>Team : <%= team.name %> (<%= team.user.nickname %>)<div>
      <% end %>
      </div>
      <div><%= link_to "Refresh", submitted_path(@league, @team), class: "btn btn-success" %></div>
    <% end %>
  </div>
</div>
