<div class="container-fluid">

    <div class="white center"><h1>Welcome to the league <%= @league.name %> !</h1></div>
    <div class="back-shadow">
    <div class="center"><h2>Now is the time to create your team of champions</h2></div>
    <div class="form-new-team">
      <%= simple_form_for [@league, @team] do |f| %>
        <%= f.input :name, label: "Name of your team" %>
        <%= f.collection_radio_buttons(:photo, @photos, :first, :last) do |b| %>
          <%= b.label { b.radio_button + image_tag(b.text) } %>
        <% end %>
        <%= f.button :submit, class: 'bouton-transp-submit' %>
      <% end%>
    </div>
  </div>

</div>
