<div class="container-fluid">
  <div>
    <div class="white center margin-bottom"><h1>Welcome to<br> <%= @league.name %></h1></div>
    <div class="back-shadow">
      <div class="center margin-bottom margin-top"><h2>Make your team 🔥</h2></div>
      <div class="form-new-team">
        <%= simple_form_for [@league, @team] do |f| %>
          <%= f.input :name, label: "Name" %>
          <%= f.label "Choose your avatar *", style: "display: block; margin-bottom: 10px;" %>
          <%= f.collection_radio_buttons:photo, @photos, :first, :last, { item_wrapper_class: "team-selector" } do |b| %>
            <%= b.label { b.radio_button + image_tag(b.text) } %>
          <% end %>
          <div class="center-div margin-top"><%= f.button :submit, label: "Create", class: 'bouton-plain-share' %></div>
        <% end%>
      </div>
    </div>
  </div>
</div>
