<div class="container-fluid" data-controller="statistics">
  <div class="box-home">
    <div class="row" data-statistics-target="drag">
      <div class="col-2">
        <div id="players" class="row">
          <% (1..6).to_a.each do |position| %>
              <div class="card-product player-rank col-12"><%= position %></div>
          <% end %>
          <% (7..8).to_a.each do |position| %>
              <div class="card-product player-rank-sub col-12"><%= position %></div>
          <% end %>
        </div>
      </div>
      <div class="col-8">
        <div class="row" id="players" data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="selection">
          <% @selections.each_with_index do |selection, index| %>
            <div class="card-product col-12" data-sortable-update-url="<%= selection_path(selection) %>" >
              <div class="card-product-infos-important">
                <%= image_tag 'tennis-ball-green.png'%>
                <div><%= selection.player.last_name %></div>
              </div>
              <i class="fa-solid fa-grip"></i>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <div class="card-product player-bonus col-12">x10</div>
          <div class="card-product player-bonus col-12">x8</div>
          <div class="card-product player-bonus col-12">x6</div>
          <div class="card-product player-bonus col-12">x4</div>
          <div class="card-product no-bonus col-12"></div>
          <div class="card-product no-bonus col-12"></div>
          <div class="card-product no-bonus col-12">Sub</div>
          <div class="card-product no-bonus col-12">Sub</div>
        </div>
      </div>
      <!-- <div class="bottom-league-show"><%= link_to "Confirm team", league_path(params[:league_id]), class: "btn-confirm" %></div> -->
    </div>
  </div>

  <div class="box-home">
    <ul class="carousel">
      <% @selections.each do |selection| %>
        <% player = selection.player %>
          <li class="carousel__item" data-action="click->statistics#revealContent" data-statistics-player-id-param="<%= player.id %>">
            <div class="carousel__item-wrapper" style="background: url(<%= cl_image_path player.photo.key %>);"><p><%= player.last_name %></p></div>
          </li>
          <div class="card-statistics d-none"
            data-statistics-target="content"
            data-statistics-player-id="<%= player.id %>">
            <div class="stats-icon center">
              <creattie-embed
                src="https://d1k5j68ob7clqb.cloudfront.net/saved_colors/423/B7HnrPoOzkZBHA0G.json"
                delay="1"
                speed="100"
                frame_rate="24"
                stroke_width="25"
                trigger="loop"
                style="width:80px;background-color: transparent">
              </creattie-embed>
              <script src="https://creattie.com/js/embed.js?id=7a8cd14651e2110f0e7d" defer></script>
            </div>
            <div class="statistics-title"><h2>Statistics this year</h2></div>
            <div class="statistics-text">
              <div class="stats"><div class="text-stats">Date of birth: </div><div class="update-stats"><%= player.date_of_birth %></div></div>
              <div class="stats"><div class="text-stats">Slams played: </div><div class="update-stats"><%= player.competitions_played %></div></div>
              <div class="stats"><div class="text-stats">Slams won: </div><div class="update-stats"><%= player.competitions_won %></div></div>
              <div class="stats"><div class="text-stats">Matches played: </div><div class="update-stats"><%= player.matches_played %></div></div>
              <div class="stats"><div class="text-stats">Matches won: </div><div class="update-stats"><%= player.matches_won %></div></div>
              <div class="stats"><div class="text-stats">Points earned: </div><div class="update-stats"><%= "#{selection.player_points} pts" %></div></div>
            </div>
          </div>
      <% end %>
    </ul>
    <div class="carousel__controls">
      <button class="carousel__controls--left" data-action="click->statistics#removeContent"><i class="fa-solid fa-circle-chevron-left"></i></button>
      <button class="carousel__controls--right" data-action="click->statistics#removeContent"><i class="fa-solid fa-circle-chevron-right"></i></button>
    </div>
  </div>
</div>
