<div class="container-fluid" data-controller="statistics">
  <h1>Manage my team</h1>
  <div class="box-drag-drop">
    <div class="drag-drop row" data-statistics-target="drag">
      <div id="players" data-controller="sortable" data-sortable-animation-value="250" data-sortable-resource-name-value="selection">
        <% @selections.each do |selection| %>
          <% if selection.position == 7 || selection.position == 8 %>
            <div class="col-6">
              <div class="card-product" data-sortable-update-url="<%= selection_path(selection) %>">
                <div class="card-product-infos">
                  <%= image_tag 'tennis-ball-green.png'%>
                  <div><%= selection.position %></div>
                  <div><%= selection.player.last_name %></div>
                </div>
                <i class="fa-solid fa-grip"></i>
              </div>
            </div>
          <% else %>
            <div class="col-12">
              <div class="card-product" data-sortable-update-url="<%= selection_path(selection) %>">
                <div class="card-product-infos-important">
                  <%= image_tag 'tennis-ball-green.png'%>
                  <div class="card-product-position"><%= selection.position %></div>
                  <div><%= selection.player.last_name %></div>
                </div>
                <i class="fa-solid fa-grip"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <ul class="carousel">
    <% @selections.each do |selection| %>
      <% player = selection.player %>
      <li class="carousel__item" data-action="click->statistics#revealContent" data-statistics-player-id-param="<%= player.id %>">
        <div class="carousel__item-wrapper" style="background: url(<%= image_path "players/#{player.last_name.downcase}.png" %>);"><p><%= player.last_name %></p></div>
      </li>
      <div class="card-statistics d-none"
           data-statistics-target="content"
           data-statistics-player-id="<%= player.id %>">
        <div><h3>Statistics this year</h3></div>
        <div>
          <p>Date of birth: <%= player.date_of_birth %></p>
          <p>Competitions played: <%= player.competitions_played %></p>
          <p>Competitions won: <%= player.competitions_won %></p>
          <p>Matches played: <%= player.matches_played %></p>
          <p>Matches won: <%= player.matches_won %></p>
          <p>Points earned: <%= selection.player_points %> points</p>
        </div>
      </div>
    <% end %>
  </ul>

  <div class="carousel__controls">
    <button class="carousel__controls--left" data-action="click->statistics#removeContent"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <button class="carousel__controls--right" data-action="click->statistics#removeContent"><i class="fa-solid fa-circle-chevron-right"></i></button>
  </div>

 <%# <div class="button-btml center"><%= link_to "Back to my league", league_path(params[:league_id]), class: "bouton-transp center" %></div>
</div>
