
<h1>Manage my team</h1>
<div id="players" data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="selection">
  <% @selections.each do |selection| %>
      <div class="card-product mb-4" data-sortable-update-url="<%= selection_path(selection) %>">
        <div class="card-product-infos">
          <h3><%= selection.player.first_name %></h3>
        </div>
      </div>
  <% end %>
</div>

<div class="container text-center">
<br>
 <h3>The bids you have placed</h3>
  <ul><% @team.selections.each do |selection| %></ul>
    <li><%= "#{selection.player.first_name}" %> || Your bid: <%= selection.price %> € || <%= selection.progress %></li>
  <% end %>


<br>
  <h3>Waiting for the other players...</h3>



  <%= link_to "Your league", league_path(params[:league_id]) %>
  <%= link_to "homepage", user_path(current_user) %>

</div>
