
<div class="container-fluid" data-controller = "league-subscription" data-league-subscription-league-id-value="<%= @league.id %>">
  <div>
  <div data-league-subscription-target = "notification">

  </div>
    <h1 class="white">Thanks for your bids</h1>
    <div class="center">
      <div class="box-player-ready">
        <% if @league.all_ready?(@team.round_number) %>
            <%= render "notification" %>
        <% else %>
          <h3><i class="fa-solid fa-circle-check"></i> Teams ready</h3>
            <ul class="box-list-player">
              <%  @league.teams_submitted_waiting(@team.round_number).each do |team| %>
                <div class="list-player-ready">
                  <div class="border-radius"><%= cl_image_tag team.photo.key, height: 40, width: 40, crop: :fill %></div>
                  <li><%= team.name %></li>
                </div>
              <% end %>
            </ul>
          <h3><i class="fa-solid fa-spinner rotate"></i> Waiting for the others ...</h3>
        <% end %>
      </div>
    </div>
    <div class="center">
      <div class="box-player-ready">
        <h3>Recap of your bids</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Player</th>
              <th scope="col">Your bid</th>
            </tr>
          </thead>
          <tbody>
          <% @kept_selections.each do |selection| %></ul>
            <tr>
              <td><%=selection.player.first_name%> <%=selection.player.last_name%></td>
              <td><%=selection.price%> m€ </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to "Refresh", submitted_path(@league, @team), class: "bouton-plain-share" %>
    </div>
  </div>
</div>
