<%= render 'shared/league_navbar', leagues: @leagues %>
<div class="container-fluid">
  <div class="ranking-card">
    <div class="ranking-laurier"><%= image_tag 'laurier.png', width: '80vh' %></div>
    <div class="title"><%= @league.name %></div>
    <div class="text-ranking">
      <% @teams.each_with_index do |team, index| %>
        <div class="team">
          <div class="team-position"><%= index + 1 %></div>
          <%= cl_image_tag team.photo.key, height: 40, width: 40, crop: :fill, radius: "max" %>
          <div class="team-name"><%= team.name.capitalize %></div>
          <div class="team-points"><%= team.points %>pts</div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="box-league">
    <div id="team-name" class="border-radius" style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,1)), url(<%= cl_image_path @team.photo.key %>);"><%= @team.name.upcase %></div>
    <div class="player-selection">
      <% @selections.each_with_index do |selection, index| %>
        <% if index <= 1 %>
          <div class="player-card-important" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(<%= image_path "background.jpg" %>);">
            <div class="player-card-image-important" style="background-image: url('<%= cl_image_path selection.player.photo.key %>')">
              <div class="team-player-infos">
                <div class="team-player-position"><%= selection.position %></div>
                <div class="team-player-name"><%= selection.player.last_name %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="player-selection mb-5">
      <% @selections.each_with_index do |selection, index| %>
        <% if index > 1 && index < 6 %>
          <div class="player-card" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(<%= image_path "background.jpg" %>);">
            <div class="player-card-image" style="background-image: url('<%= cl_image_path selection.player.photo.key %>')">
              <div class="team-player-infos">
                <div class="team-player-position"><%= selection.position %></div>
                <div class="team-player-name"><%= selection.player.last_name %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="center-div"><%= link_to "Manage", [@league, @team], class: "bouton-plain-share" %></div>
    <div class="center-div"><%= link_to "chatroom", chatroom_path(Chatroom.where("league_id = ?", @league.id).first), class: "bouton-plain-share" %></div>
  </div>
</div>
