<div class="container">
  <h1><%= @league.name %></h1>

  <div class="card-container">
    <div class="ranking-laurier"><%= image_tag 'laurier.png', width: '40px' %></div>
    <div class="ranking-card card-text center mx-5">
      <div class="title">Ranking</div>
      <% i = 1 %>
      <% @teams.each do |team| %>
        <div class="team"><%= i %> - <%= team.name %> - <%= team.points %>pts</div>
        <% i += 1 %>
      <% end %>
    </div>
  </div>


  <div class="card-text mt-3">
    <div class="title"><%= @team.name %></div>
    <div class="row orange-bot">
      <% @selections.each_with_index do |selection, index| %>
        <% if index <= 1 %>
          <div class="col-6 center card-player-league-view">
            <div class="position-top-players circle"><%= selection.position %></div>
            <div><%= image_tag 'gasquet.png', width: '50px' %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <% @selections.each_with_index do |selection, index| %>
        <% if index <= 1 %>
          <div class="col-6 center card-container mt-1 mb-2">
            <div class="player-name"><%= selection.player.first_name %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row orange-bot">
      <% @selections.each_with_index do |selection, index| %>
        <% if index > 1 && index < 6 %>
          <div class="col-3 center card-player-league-view">
            <div class="position-bottom-players circle"><%= selection.position %></div>
            <div><%= image_tag 'gasquet.png', width: '50px' %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <% @selections.each_with_index do |selection, index| %>
        <% if index > 1 && index < 6 %>
          <div class="col-3 center card-player-league-view mt-1 mb-2">
            <div class="player-name"><%= selection.player.first_name %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mt-2 center"><%= link_to "Manage my team", [@league, @team], class: "bouton-transp center" %></div>
</div>
