<div class="container-fluid">

  <div class="box-home">
    <h1>Hi <%= current_user.nickname %> !</h1>
    <h2>My Leagues</h2>
    <div class="scroll">
        <% @leagues.each do |league| %>
        <div class="card-league">
          <div class="racket">
            <%= image_tag 'racket.png', width: '45vh' %>
          </div>
          <div><h3><%= link_to league.name, league_path(league) %></h3></div>
        </div>
        <% end %>
    </div>
    <div class="card-league-add">
      <%= link_to "+", new_league_path %>
    </div>
  </div>

  <div class="box-home">
    <h2>News</h2>
    <div class="marquee">
      <div class="marquee-content">
        <% @html_doc.search(".breve").each do |element| %>
          <div class="carousel-news">
            <div class="atp-logo">
              <%= image_tag 'atp-logo.png', width: '60vh' %>
            </div>
            <div class="text-news">
              <p><%= element.text.strip %></p>
              <%= link_to "Read article", "https://www.tennisactu.net/#{element.attribute("href").value}", target: "_blank" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
