<div class="footer">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag 'tennis-ball.png', width: '25px' %>
  <% end %>
  <%= link_to root_path do %>
    <%= image_tag 'stream.png', width: '25px' %>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
</div>
