  <li class="list-group-item d-flex justify-content-between">
    <div>
        <%= selection.player.first_name %> <%= selection.player.last_name %>
    </div>
    <div class="d-flex">
      <p>Your bid </p>
      <%= simple_form_for selection, html: { data: {controller: "create-selection"} } do |f| %>
        <%= f.input :price, label: false, placeholder: "#{selection.player.min_price / 1000000}",  input_html: { min: selection.player.min_price ,  data: {action: 'blur->budget-update#update blur->enable-button#enable blur->create-selection#create', budget_update_target: "price", enable_button_target: "player"} } %>
        <%= f.input :player_id, as: :hidden, input_html: { value: params[:player_id] } %>
        <%= f.input :team_id, as: :hidden, input_html: { value: params[:team_id] } %>
      <% end%>
    </div>
  </li>
