<div class="container-fluid">
  <h1>Players In TOP 100 ATP</h1>

  <ul class="tennis-list">
    <% @players.each do |player| %>
      <li>
        <%= player.ranking %>ème - <%= player.first_name %> <%= player.last_name %>
        -
        <%= link_to "more info", player_path(player.id) %>
        -
        <% if player.photo.attached? %>
          <%= cl_image_tag player.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
