<div class="container-fluid">
  <h1><%= "#{@player.first_name} #{@player.last_name}" %></h1>

  <div>Country: <%= @player.nationality %></div>
  <div>Date of birth: <%= @player.date_of_birth %></div>
  <div>Rank: <%= @player.ranking %></div>
  <div>Statistics this year:</div>
  <ul class="tennis-list">
    <li>Competitions played: <%= @player.competitions_played %></li>
    <li>Competitions won: <%= @player.competitions_won %></li>
    <li>Matches played: <%= @player.matches_played %></li>
    <li>Matches won: <%= @player.matches_won %></li>
  </ul>
  <div>Points earned: <%= @points %> points</div>

  <h3>Previous plays:</h3>
  <ul class="tennis-list">
    <% @matches.each do |match|%>
      <li>
        <div><%= match.tournament.name %></div>
        <div><%= match.player1.last_name %> vs. <%= match.player2.last_name %></div>
        <div>Winner: <%= match.winner.last_name %></div>
      </li>
    <% end %>
  </ul>
</div>
